<h2>Add a new author</h2>

<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">

      {{input type="text" value=new_author class="form-control" placeholder="The name of the author"}}
    </div>
  </div>
  <div class="form-group">
   <label class="col-sm-2 control-label">Book</label>
    <div class="col-sm-10">
      {{input type="text" value=new_book class="form-control" placeholder="The name of the book"}}
     </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" {{action 'saveBoth'}}>Add to author/book list</button>
</div>
  </div>
   {{#if responseMessage}}
     <div class="alert alert-success">{{responseMessage}}</div>
   {{/if}}

</div>